<strong>Hi, {{provider}}</strong>
<p>There was a cancelation, check the details below:</p>
<p>
  <strong>Customer: </strong> {{user}} <br />
  <strong>Date/Houser: </strong> {{date}} <br />
  <br />
  <small>
    That hour are available again for new appointments.
  </small>
</p>
